{% extends 'base.html' %}

{% block title %}Sous Chef{% endblock %}


{% block content %}
<div id="header-div">
    <h1 class="display-1">Welcome to Sous Chef!</h1>
    <img src="static/images/logo.jpeg" alt="Logo" id="logo" class="rotate">
</div>


<div id="text-container">
    <h2 class="feature-title display-5">Browse Recipes</h2>
    <p class="feature-description">
        Tired of coming up with meals to eat? Browse our recipe database to find new recipes or delicious versions of your favorite meals! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt in porro qui harum dolorum odit quo hic sit magni, aliquid, obcaecati accusantium! Beatae quo similique laboriosam tempora. 
        Non, labore odit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, illo quia maxime consequuntur deserunt nostrum modi id aut ad quam voluptates culpa delectus atque 
        ipsam rerum labore vero. Dicta, obcaecati?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore aspernatur repudiandae quasi, ut, necessitatibus tenetur deserunt officiis 
        exercitationem quod enim velit commodi neque? Officia cupiditate ullam enim illum explicabo possimus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos corrupti magni velit, 
        unde illum quasi cupiditate aperiam quia alias saepe id quo in aspernatur minima, quaerat accusantium cumque quae sequi.
    </p>

    <h2 class="feature-title display-5">Search Recipes by Name</h2>
    <p class="feature-description">
        Search for new versions of your favorite recipes or learn how to cook a classic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aperiam dolore provident minus repellendus 
        recusandae, est necessitatibus deleniti voluptas nobis modi doloribus incidunt ex impedit optio assumenda? Voluptatem, quasi quisquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Tenetur voluptas, natus dignissimos aspernatur tempora iste eos delectus, illum quia vitae eaque voluptates voluptatem consequuntur quisquam fugiat exercitationem provident eveniet omnis! Lorem 
        ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit, placeat beatae culpa consectetur ipsam quas eius consequatur facilis aspernatur laudantium provident. Id asperiores sint 
        accusantium nesciunt, optio cupiditate voluptate! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium commodi maiores odit ipsam ad dicta quia eligendi reprehenderit distinctio 
        impedit architecto aut nisi rem, ab doloremque veniam neque. Nemo, vitae! Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae adipisci animi cupiditate laboriosam dicta debitis 
        beatae pariatur maiores doloribus, esse odit officia, quasi mollitia earum ipsam ullam nostrum consectetur!
    </p>

    <h2 class="feature-title display-5">Search Recipes by Ingredients</h2>
    <p class="feature-description">
        Find great recipes with the ingredients that you have in your fridge! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam deserunt dolorum animi corrupti quis voluptatem expedita 
        cum atque, sit, temporibus cupiditate esse laborum velit molestias, ea id doloremque aliquid et. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error minima quasi illum, adipisci quam 
        recusandae commodi ab placeat. Architecto dolorum aut nostrum nobis ducimus eius ipsa perspiciatis, quisquam consequuntur adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam 
        perspiciatis doloremque tenetur quas beatae, fuga reprehenderit tempora nostrum deleniti provident excepturi id asperiores cumque labore a laborum officiis exercitationem earum. Lorem ipsum dolor 
        sit, amet consectetur adipisicing elit. Quidem unde beatae necessitatibus laudantium eum! Enim accusantium iusto, perspiciatis voluptate corporis porro consequuntur pariatur deserunt distinctio. 
        Eaque tempora a aut ex!

    </p>

    <h2 class="feature-title display-5">Find Ingredient Substitutes</h2>
    <p class="feature-description">
        Missing an ingredient? Find a substitute with ease! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit fugiat voluptatem repellat adipisci, reprehenderit dolore repellendus autem! 
        Maiores inventore dolor nobis ducimus animi, alias magnam adipisci fuga voluptates ab itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolore possimus dolores beatae veniam 
        voluptates harum? Assumenda fugit iure nemo dicta explicabo dolorem hic. Illo culpa dolor obcaecati odio optio? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae itaque non 
        accusamus possimus ducimus consequuntur similique dolores deleniti voluptate maiores, aperiam ea libero labore rerum velit maxime cumque omnis perferendis! Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Aut, dolores exercitationem! Reprehenderit sunt asperiores, assumenda tempore explicabo, numquam excepturi quasi in, nihil dolores dolorem facere eos mollitia ipsum similique eaque. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fugit adipisci voluptas odio suscipit minus eveniet! Modi officiis placeat officia voluptates aliquid adipisci vero, quibusdam, 
        eaque rem illum omnis consequuntur!
    </p>

    <h2 class="feature-title display-5">Order Ingredients</h2>
    <p class="feature-description">
        This section was supposed to use the Instacart API to allow users to place orders but apparently they gatekeep access so I was not able to use it! Lorem ipsum dolor sit amet consectetur, adipisicing 
        elit. Rerum modi, libero saepe cum ut cupiditate labore vitae velit! Laboriosam maxime non facere ex repudiandae quidem. Facilis dignissimos nisi id et! Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Dolor iste soluta, vitae nihil aliquam fugiat doloremque earum nobis officiis. Animi dolorum totam architecto! Nostrum quia, earum illum sit laudantium architecto. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Aperiam consequatur molestias doloremque odio. Ab quasi placeat modi natus excepturi, aspernatur earum nam, odit esse, animi eveniet veritatis blanditiis 
        deleniti cumque.
    </p>

    <h2 class="feature-title display-5">Create a Profile</h2>
    <p class="feature-description">
        Create a profile to favorite recipes, leave ratings and reviews of recipes you try. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quae veniam possimus placeat consequatur, quod 
        veritatis. Quisquam expedita ea debitis repellat similique maiores, atque quam quia necessitatibus facere! Laborum, itaque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et maiores fuga, 
        explicabo tempore est maxime praesentium consectetur eligendi ad tempora excepturi, asperiores aut mollitia unde officia iure. Sunt, asperiores! Quae. Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Obcaecati numquam harum ad hic. Dolore, placeat repudiandae! Eos veritatis ipsum consectetur dolor sunt corrupti animi rerum unde. Voluptates animi molestias ratione. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Ut commodi architecto harum voluptatibus? Incidunt magnam unde, ipsum, cupiditate totam reprehenderit quibusdam necessitatibus at ab aspernatur deserunt. 
        Ducimus illo voluptates quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem culpa quasi velit ducimus sunt illum eligendi, doloribus tempore necessitatibus fugiat nihil, sint corporis, 
        aspernatur consequuntur aliquid cum repellendus nesciunt corrupti!
    </p>
</div>

{% endblock %}